:root {
  --color-amarillo: #EAC926;
  --color-azul: #03264C;
  --color-celeste: #1259c3;
  --color-gris-oscuro: #666;
  --color-gris-claro: #ebebeb;
  --color-verde: #39b54a;
}

body {
  background-color: #ccc;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

/* ********************HEADER********************** */
header {
  background-color: var(--color-amarillo);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.logo-search-credit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo-search-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

header .logo {
  flex: 1;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

header .logo img {
  width: 50%;
}

#search-form {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

#search-form form {
  width: 50%;
  position: relative;
}

.search-input {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px solid #ccc;
  flex-grow: 1;
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.search-btn {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.search-img {
  width: 15px;
  height: 15px;
  display: block;
}

.credit-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px !important;
}

.credit-info i {
  margin-right: 4px;
}

.burger-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.burger-menu i {
  background-color: var(--color-celeste);
  padding: 4px;
  border-radius: 4px;
  color: #fff;
}

.navbar {
  display: none;
}

.navbar.active {
  display: block;
  text-align: center;
}

.navbar ul {
  font-size: 10px;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: center;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none !important;
  color: inherit !important;
}

.navbar ul li a i {
  margin-left: 10px;
}


@media (min-width: 481px) and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .logo-search-credit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  header .logo {
    flex-basis: 50%;
    justify-content: flex-start;
    margin-right: 10px;
    display: flex;
  }

  #search-form {
    flex-basis: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }

  .credit-info {
    flex-basis: 50%;
    font-size: 10px;
    justify-content: center;
    display: flex;
    margin-top: 10px;
  }

  .navbar {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
  }

  .navbar-left {
    display: flex;
    justify-content: flex-start;
  }

  .navbar-right {
    display: flex;
    justify-content: flex-end;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar ul li {
    margin: 0 10px;
  }

  .navbar ul li a {
    text-decoration: none;
    color: inherit;
  }

  .burger-menu {
    display: none;
  }
}

@media (min-width: 769px) {
  header {
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .logo-search-credit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  header .logo {
    flex-basis: 50%;
    justify-content: flex-start;
    margin-right: 10px;
    display: flex;
  }

  #search-form {
    flex-basis: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }

  .credit-info {
    flex-basis: 50%;
    font-size: 12px;
    justify-content: end;
    display: flex;
    margin-top: 10px;
  }

  .navbar {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
  }

  .navbar-left {
    display: flex;
    justify-content: flex-start;
  }

  .navbar-right {
    display: flex;
    justify-content: flex-end;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .navbar ul li {
    margin: 0 10px;
  }

  .navbar ul li a {
    text-decoration: none;
    color: inherit;
  }

  .burger-menu {
    display: none;
  }
}


/* ****************MAIN******************* */

main {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.based-on-last-visit h2,
.offers h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.based-on-last-visit, .offers {
  margin-bottom: 40px;
}

.product {
  background-color: #fff;
  display: inline-block;
  width: 200px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.product p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.product p:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}

.product p:nth-of-type(2) span {
  flex-basis: 70%;
  text-align: right;
}

.product p:nth-of-type(2) {
  flex-basis: 30%;
}

.product span {
  font-weight: 600;
}

.product img {
  max-width: 100%;
  height: auto;
  width: 150px;
  border-radius: 8px;
  padding: 5px;
}

.product .details {
  position: relative;
  border-top: 1px solid #ebebeb;
  padding: 15px;
}

.product .details i {
  color: var(--color-verde);
  border: 1px solid var(--color-verde);
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: -15px;
  right: 20px;
}

span {
  color: var(--color-verde);
}

@media (max-width: 768px) {
  main {
    padding: 15px;
  }

  .product {
    width: calc(50% - 40px);
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .based-on-last-visit h2,
  .offers h2 {
    font-size: 26px;
  }

  .product p {
    font-size: 14px;
  }

  .product p:nth-of-type(2) {
    font-size: 20px;
  }

  .product span {
    font-size: 18px;
    font-weight: 600;
  }
}

@media (max-width: 480px) {
  main {
    padding: 10px;
  }

  body {
    font-size: 12px;
  }

  .based-on-last-visit h2,
  .offers h2 {
    font-size: 24px;
  }

  .product p {
    font-size: 16px;
  }

  .product p:first-of-type {
    display: none;
  }

  .product p:nth-of-type(2) {
    font-size: 18px;
  }

  .product span {
    font-size: 16px;
    font-weight: 600;
  }

  .product {
    width: calc(100% - 40px);
    box-shadow: none;
  }

  .based-on-last-visit,
  .offers {
    text-align: center;
  }
}


/* ****************FOOTER****************** */
footer {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
}

footer section {
  margin: 20px 0;
}

footer h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

footer p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

footer i {
  display: block;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
  color: var(--color-celeste);
}


@media (max-width: 768px) {
  footer {
    padding: 15px;
  }

  footer section {
    margin: 15px 0;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 10px;
  }

  footer section {
    margin: 10px 0;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }
}